#parent {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.home {
    text-align: center;
}
.navbar {
    display: flex;
    justify-content : center;
    background: rgba(255,255,255,0.2);
}

.dropbtn {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-top: 9px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.responsive {
    max-height : 400px;
    width : auto;
}

.table {
    display: flex;
    justify-content: center;
}

#typeWiseReportGridView, TestTypeGridView, testSetupGridView, testRequestGridView, testWiseReportGridView, unpaidBillReportGridView {
    align-self: center;
}
